.MainHomebody {
  height: 2000px;
  background-color: rgb(77, 77, 77);
}
.maintext-con {
  width: 100%;
  display: flex;
  justify-content: center;
}
.maintext {
  padding-top: 10px;
  width: 80%;
  height: 300px;
}

.maintext p {
  max-width: 100%;
  font-size: 20px;
  text-align: center;
}

.bio {
  width: 100%;
  margin-top: 20px;
}
.bio img {
  max-width: 100%;
}
.body-scale-in-center {
  -webkit-animation: scale-in-center 5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
